@charset "UTF-8";
.drawerClosed {
  top: 54.5%;
}
.drawerClosed .drawerRibon img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.absHidden {
  top: 40%;
}
.absHidden .drawerRibon img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.drawerOpen {
  top: 100%;
}
.drawerOpen .drawerRibon img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.drawerWrapper {
  position: absolute;
  z-index: -1;
  left: 46px;
  width: calc(100% - 48px - 18px);
  font-family: "Poppins", sans-serif;
  -webkit-transition: top 0.2s;
  transition: top 0.2s;
}
.drawerWrapper .files {
  background-color: #E4DFD9;
  border: 2px solid #522158;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
  max-height: 100px;
  overflow: auto;
}
.drawerWrapper .files::-webkit-scrollbar {
  -webkit-appearance: none;
}
.drawerWrapper .files::-webkit-scrollbar:vertical {
  width: 3px;
}
.drawerWrapper .files::-webkit-scrollbar-thumb {
  background-color: #650e8d;
}
.drawerWrapper .files::-webkit-scrollbar-track {
  background-color: transparent;
}
.drawerWrapper .files .file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.drawerWrapper .files .file:hover .editFilename {
  display: block;
}
.drawerWrapper .files .file .downloadFile {
  cursor: pointer;
  width: 20px;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  max-height: 20px !important;
}
.drawerWrapper .files .file .fileSelector {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  height: 20px;
  width: 20px;
  aspect-ratio: 1/1 !important;
  background: #E4DFD9;
  border-radius: 3px;
  border: 1px solid #522158;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.drawerWrapper .files .file .fileSelector:hover {
  background: rgba(82, 33, 88, 0.5411764706);
}
.drawerWrapper .files .file .fileSelector:checked {
  background: #522158;
}
.drawerWrapper .files .file .fileSelector:checked::before {
  pointer-events: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #E4DFD9;
  content: "✓";
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.drawerWrapper .files .file .fileSelector:checked::after {
  -webkit-animation: click-wave 0.5s;
          animation: click-wave 0.5s;
  background: #522158;
  content: "";
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 50%;
}
.drawerWrapper .files .file .name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #522157;
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.drawerWrapper .files .file .name .fileExcel {
  margin-left: 5px;
  max-height: 16px;
}
.drawerWrapper .files .file .name .text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 2.5px;
}
.drawerWrapper .files .file .editFilename {
  cursor: pointer;
  display: none;
  max-height: 16px;
  margin-left: 5px;
}
.drawerWrapper .files .file .date {
  width: 90px;
  margin-left: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(82, 33, 88, 0.67);
}
.drawerWrapper .files .file .deleteFile {
  cursor: pointer;
  margin-left: 10px;
  width: 14px;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  max-height: 14px;
}
.drawerWrapper .drawerRibon {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: absolute;
  background-color: #522158;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 60px;
  padding: 0 30px;
  border-radius: 50%;
  z-index: -2;
  left: 93%;
  -webkit-transform: translate(-100%, -35px);
          transform: translate(-100%, -35px);
}
.drawerWrapper .drawerRibon img {
  margin-top: 31px;
  max-height: 30px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

@-webkit-keyframes click-wave {
  0% {
    height: 10px;
    width: 10px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 60px;
    width: 60px;
    margin-left: -20px;
    margin-top: -20px;
    opacity: 0;
  }
}

@keyframes click-wave {
  0% {
    height: 10px;
    width: 10px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 60px;
    width: 60px;
    margin-left: -20px;
    margin-top: -20px;
    opacity: 0;
  }
}