@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Medium.ttf") format("truetype");
}
#feedbackSolver {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  position: fixed;
  top: 2rem;
  left: calc(100% - 2rem);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 999999;
}
#feedbackSolver .wrapper {
  width: 500px;
  height: 270px;
  overflow: hidden;
  border-radius: 12px;
}