@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Medium.ttf") format("truetype");
}
#feedbackSolver {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  position: fixed;
  top: 2rem;
  left: calc(100% - 2rem);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 999999;
}
#feedbackSolver .wrapper {
  width: 500px;
  height: 270px;
  border-radius: 12px;
  position: relative;
}
#feedbackSolver .wrapper .closeFeedbackSolver {
  cursor: pointer;
  position: absolute;
  aspect-ratio: 1/1;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 100%;
  top: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 30px;
  background-color: #E4DFD9;
  border-radius: 50%;
  border: 2px solid #522158;
  z-index: 9999;
}
#feedbackSolver .wrapper .closeFeedbackSolver img {
  max-height: 25px;
}