.signin {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: calc(100% - 30px);
  padding: 11px 15px 8px 15px;
  height: 100%;
  background-color: #E4DFD9;
}
.signin .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.signin .head .goBack {
  cursor: pointer;
  aspect-ratio: 1/1;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.signin .head .goBack img {
  max-height: 25px;
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}
.signin .head .goBack:hover {
  background-color: #E2C4D0;
}
.signin .head .signinTitle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  color: #522158;
  margin: 0 auto;
  -webkit-transform: translateX(-35px);
          transform: translateX(-35px);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.signin .signinForm {
  margin: 0 auto;
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.signin .signinForm .signInEmailInput {
  position: relative;
}
.signin .signinForm .signInEmailInput .realEmail,
.signin .signinForm .signInEmailInput .wrongCredentials {
  display: none;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 2px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 2px;
  font-size: 12px;
  color: #eb6363;
}
.signin .signinForm .signInPasswordInput {
  position: relative;
}
.signin .signinForm .signInPasswordInput img {
  cursor: pointer;
  position: absolute;
  max-height: 30px;
  top: 50%;
  left: calc(100% - 10px);
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}
.signin .signinForm input {
  font-family: "Poppins", sans-serif;
  padding: 7px 8px;
  outline: none;
  border: 2px solid #522158;
  border-radius: 4px;
  background: #E2C4D0;
  height: 20px;
  width: 256px;
  color: #522158;
  font-size: 14px;
  font-weight: 600;
}
.signin .signinForm input::-webkit-input-placeholder {
  -webkit-user-select: none;
          user-select: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: rgba(198, 129, 156, 0.65);
}
.signin .signinForm input::-moz-placeholder {
  -moz-user-select: none;
       user-select: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: rgba(198, 129, 156, 0.65);
}
.signin .signinForm input:-ms-input-placeholder {
  -ms-user-select: none;
      user-select: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: rgba(198, 129, 156, 0.65);
}
.signin .signinForm input::-ms-input-placeholder {
  -ms-user-select: none;
      user-select: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: rgba(198, 129, 156, 0.65);
}
.signin .signinForm input::placeholder {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: rgba(198, 129, 156, 0.65);
}
.signin .signinForm .signinMethods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.signin .signinForm .signinMethods .viaGoogle {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fff;
  border-radius: 8px;
  height: 39px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid black;
}
.signin .signinForm .signinMethods .viaGoogle img {
  margin-right: 15px;
  max-height: 24px;
}
.signin .signinForm .signinMethods .viaGoogle:hover {
  background-color: #eeeeee;
}
.signin .signinForm .signinMethods .viaGoogle:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.signin .signinForm .signinMethods .signinBtn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  margin-left: 1rem;
  padding: 0 18px;
  outline: none;
  border: none;
  background-color: #522158;
  color: #E4DFD9;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.signin .signinForm .signinMethods .signinBtn:hover {
  background-color: #562e5c;
}
.signin .signinForm .signinMethods .signinBtn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.signin .noAccount {
  cursor: pointer;
  text-align: center;
  margin-top: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #522158;
}