.signup {
  min-width: calc(100% - 30px);
  padding: 11px 15px 8px 15px;
  background-color: #E4DFD9;
  height: calc(100% - 19px);
}
.signup .signupHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.signup .signupHead .goBack {
  cursor: pointer;
  aspect-ratio: 1/1;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.signup .signupHead .goBack img {
  max-height: 25px;
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}
.signup .signupHead .goBack:hover {
  background-color: #E2C4D0;
}
.signup .signupHead .signupTitle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  color: #522158;
  margin: 0 auto;
  -webkit-transform: translateX(-35px);
          transform: translateX(-35px);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.signup .signupForm {
  margin: 0 auto;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
}
.signup .signupForm .mainEmail {
  position: relative;
}
.signup .signupForm .mainEmail .realEmail {
  display: none;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 2px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 2px;
  font-size: 12px;
  color: #eb6363;
}
.signup .signupForm .mainPassword {
  position: relative;
}
.signup .signupForm .mainPassword .warn {
  position: absolute;
  display: none;
  left: 115%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.signup .signupForm .mainPassword .warn img {
  max-height: 25px;
}
.signup .signupForm .mainPassword .warn .warnDcr {
  display: none;
  position: absolute;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  font-family: "Poppins", sans-serif;
  top: 20px;
  background-color: #E4DFD9;
  padding: 5px;
  border-radius: 8px;
  border: 2px solid #522158;
}
.signup .signupForm .mainPassword .warn .warnDcr .title {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}
.signup .signupForm .mainPassword .warn .warnDcr ul {
  padding-left: 20px;
  margin: unset;
}
.signup .signupForm .mainPassword .warn .warnDcr ul li {
  white-space: nowrap;
  font-size: 12px;
}
.signup .signupForm .mainPassword .warn:hover .warnDcr {
  display: block;
}
.signup .signupForm .mainPassword input {
  padding-right: 45px;
  width: 219px;
}
.signup .signupForm .mainPassword img {
  cursor: pointer;
  position: absolute;
  max-height: 30px;
  top: 50%;
  left: calc(100% - 10px);
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}
.signup .signupForm .mainPassword .match {
  display: none;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 99%;
  left: 2px;
  font-size: 12px;
  color: #eb6363;
}
.signup .signupForm input {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Poppins", sans-serif;
  padding: 7px 8px;
  outline: none;
  border: 2px solid #522158;
  border-radius: 4px;
  background: #E2C4D0;
  height: 20px;
  width: 256px;
  color: #522158;
  font-size: 14px;
  font-weight: 600;
}
.signup .signupForm input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: rgba(198, 129, 156, 0.65);
}
.signup .signupForm input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: rgba(198, 129, 156, 0.65);
}
.signup .signupForm input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: rgba(198, 129, 156, 0.65);
}
.signup .signupForm input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: rgba(198, 129, 156, 0.65);
}
.signup .signupForm input::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: rgba(198, 129, 156, 0.65);
}
.signup .signupForm .signupMethods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.signup .signupForm .signupMethods .viaGoogle {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fff;
  border-radius: 8px;
  height: 39px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid black;
}
.signup .signupForm .signupMethods .viaGoogle img {
  margin-right: 15px;
  max-height: 24px;
}
.signup .signupForm .signupMethods .viaGoogle:hover {
  background-color: #eeeeee;
}
.signup .signupForm .signupMethods .viaGoogle:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.signup .signupForm .signupMethods .signupBtn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  margin-left: 1rem;
  padding: 0 18px;
  outline: none;
  border: none;
  background-color: #522158;
  color: #E4DFD9;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.signup .signupForm .signupMethods .signupBtn:hover {
  background-color: #562e5c;
}
.signup .signupForm .signupMethods .signupBtn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.signup .emailVerificationSent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.signup .emailVerificationSent .text {
  margin: 0 auto;
  margin-top: 40px;
  width: 324px;
  height: 90px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #522157;
}
.signup .emailVerificationSent .button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 150px;
  height: 44px;
  background: #522158;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #E4DFD9;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.signup .emailVerificationSent .button:hover {
  background-color: #562e5c;
}
.signup .emailVerificationSent .button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}