.wildberries {
  width: 500px;
  max-width: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
  overflow: hidden;
}
.wildberries .ribbon {
  cursor: pointer;
  z-index: 45;
  background-color: #522158;
  width: 48px;
  min-width: 48px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.wildberries .ribbon img {
  max-height: 32px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.wildberries .ribbon .title {
  color: #E4DFD9;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}
.wildberries .elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 452px;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.wildberries .elements .main {
  min-width: 100%;
  height: 100%;
}
.wildberries .elements .authenticate {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wildberries .elements .authenticate .authenticateSignIn,
.wildberries .elements .authenticate .authenticateSignUp {
  width: 452px;
  min-height: 270px;
}
.wildberries .elements .signed {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wildberries .elements .signed .signedAccount {
  width: 452px;
  min-height: 270px;
}