@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Medium.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
}

#feedbackSolver {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  position: fixed;
  top: 2rem;
  left: calc(100% - 2rem);
  transform: translateX(-100%);
  z-index: 999999;

  .wrapper {
    width: 500px;
    height: 270px;
    border-radius: 12px;
    position: relative;

    .closeFeedbackSolver {
      cursor: pointer;
      position: absolute;
      aspect-ratio: 1/1;
      display: grid;
      align-content: center;
      justify-content: center;
      left: 100%;
      top: 0%;
      transform: translate(-50%, -50%);
      height: 30px;
      background-color: #E4DFD9;
      border-radius: 50%;
      border: 2px solid #522158;
      z-index: 9999;
      img {
        max-height: 25px;
      }
    }
  }
}